<!DOCTYPE html>
<html>

  <head>
    <title>Pindup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
     window.logo = "<%= asset_path('logo.png')%>"
     window.new_board = "<%= asset_path('new_board.png') %>"
     window.create_board ="<%= asset_path('create_board.png') %>"
     window.board_edit ="<%= asset_path('board_edit.png') %>"
     window.back_arrow ="<%= asset_path('back_arrow.png') %>"
     window.create_pin ="<%= asset_path('create_pin.png') %>"
     window.dropzone="<%= asset_path('dropzone.png') %>"
     window.likepin="<%= asset_path('like_pin.png') %>"
     window.grey_background="<%= asset_path('grey_background.png') %>"
    </script>
    <%= favicon_link_tag asset_path('p_fav.png'), :rel => 'icon', :type => "image/x-icon" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
